@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  color: #0d1c4c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.containerc {
  max-width: 1240px;
  margin: 0 auto;
}

.shadow-form {
  box-shadow: 0 4px 65px 0 rgba(14, 28, 76, 0.14);
}
